<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
	<servlet>
	<servlet-name>myserv1</servlet-name>
	<servlet-class>com.vivekanand.TextServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>myserv1</servlet-name>
	<url-pattern>/test</url-pattern>
	</servlet-mapping>
	
	 
	<servlet>
	<servlet-name>myserv2</servlet-name>
	<servlet-class>com.vivekanand.SetCookiesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>myserv2</servlet-name>
	<url-pattern>/setCookies</url-pattern>
	</servlet-mapping> 
	
	<servlet>
	<servlet-name>myser3</servlet-name>
	<servlet-class>com.vivekanand.MygenricServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>myser3</servlet-name>
	<url-pattern>/Genric</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
	<servlet-name>myser4</servlet-name>
	<servlet-class>com.vivekanand.HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>myser4</servlet-name>
	<url-pattern>/helloServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>myser5</servlet-name>
	<servlet-class>com.vivekanand.GetDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>myser5</servlet-name>
	<url-pattern>/getdetails</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>myser6</servlet-name>
	<servlet-class>com.vivekanand.FetchDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>myser6</servlet-name>
	<url-pattern>/fetchdata</url-pattern>
	</servlet-mapping>
	

</web-app>